<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
       <link rel="stylesheet" href="/style.css">

</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Username</th>
        </tr>
        <% for (user of data) { %>
        <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <!-- creating butto -->
         <td>
         <form method="GET" action="/user/<%= user.id %>/edit">
            <button>
                Edit Details
            </button>
         </form>
         </td>
        </tr>

       <% } %>
        
    </table>
    
</body>
</html>

}